.coin {
  background-color: var(--colors-positive);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 16px;
  flex: 1;
  word-break: break-word;
  border-radius: 4px 4px 20px 4px;
  border-width: 2px;
  border-style: solid;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.coin__name {
  margin-bottom: 2rem;
}
